# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
env/
.maizeenv/
maizeenv/

# MacOS
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Flask secret keys
*.env

# TensorFlow models if not needed
*.h5

# Migrations cache
migrations/versions/__pycache__/
